@import "src/theme/theme-variables";

.navbar {
  margin-bottom: $spacer;
  background: rgb(64, 192, 87);
    box-shadow: 3px 8px 10px 0px rgb(0 0 0 / 28%) !important;
}

.nav-link.dropdown-toggle {
  cursor: pointer;
}
